@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&family=Rubik+Mono+One&display=swap');

/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body {
    font-family: 'Rubik Mono One';
    scroll-behavior: smooth;
    min-width: 700px;
}

.navbar {
    position: fixed;
    top: 20px;
    width: 100%;
    z-index: 2;
    text-align: right;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    color: black;
    text-decoration: none;
    font-size: 15px;

    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 60%;
    padding: 10px 12px;

    line-height: 50px;

    margin: 30px 20px;
}

section.content {
    position: relative;
    height: 100vh;
    width: 99vw;
}

.shoe-wrapper {
    font-size: 3vw;
    text-align: center;
    color: yellow;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.shoe-wrapper img {
    width: 100%;
}

#three .title {
    color: rgb(0, 128, 0);
}

#one {
    background-color: red;
}

#two {
    background-color: green;
}

#three {
    background-color: yellow;
}
