/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body {
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    text-align: right;
}

.navbar li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
    height: 40px;
    width: 40px;
    padding: 10px;
    background-color: white;
    border-radius: 40px;

}

.navbar a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

section.content {
    position: relative;
    height: 100vh;
    width: 99vw;
}

.shoe {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.title {
    color: rgb(255, 255, 0);
    font-size: 90px;
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-40%);
}

#three .title {
    color: rgb(0, 128, 0);
}

#one {
    background-color: rgb(255, 0, 0);
}

#two {
    background-color: rgb(0, 128, 0);
}

#three {
    background-color: rgb(255, 255, 0);
}
